In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [3]:
# Sample Text 
text = ["good movie" , "not a good movive", "i like the movie", "I did not like the movie", "kak xal!", "best movie ever"]

In [10]:
tfidf = TfidfVectorizer(min_df=2, max_df=0.5, ngram_range=(1,3))

In [11]:
features = tfidf.fit_transform(text)
print(features) # Produces a csr matrix

  (0, 0)	1.0
  (1, 0)	0.7071067811865476
  (1, 4)	0.7071067811865476
  (2, 1)	0.4472135954999579
  (2, 5)	0.4472135954999579
  (2, 2)	0.4472135954999579
  (2, 6)	0.4472135954999579
  (2, 3)	0.4472135954999579
  (3, 4)	0.40824829046386296
  (3, 1)	0.40824829046386296
  (3, 5)	0.40824829046386296
  (3, 2)	0.40824829046386296
  (3, 6)	0.40824829046386296
  (3, 3)	0.40824829046386296

In [12]:
df = pd.DataFrame(features.todense(), columns=tfidf.get_feature_names())

In [14]:
df

       good      like  like the  like the movie       not       the  the movie
0  1.000000  0.000000  0.000000        0.000000  0.000000  0.000000   0.000000
1  0.707107  0.000000  0.000000        0.000000  0.707107  0.000000   0.000000
2  0.000000  0.447214  0.447214        0.447214  0.000000  0.447214   0.447214
3  0.000000  0.408248  0.408248        0.408248  0.408248  0.408248   0.408248
4  0.000000  0.000000  0.000000        0.000000  0.000000  0.000000   0.000000
5  0.000000  0.000000  0.000000        0.000000  0.000000  0.000000   0.000000